[Unit]
Description=Start mobileap-agent for tethering and softap

[Service]
User=root
Type=dbus
BusName=org.tizen.MobileapAgent
ExecStart=/usr/bin/mobileap-agent
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE
